repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
  - id: end-of-file-fixer
  - id: name-tests-test
    args:
    - "--pytest-test-first"
  - id: no-commit-to-branch
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Last version of ruff which will accept "py36" as target-version
  rev: v0.0.233
  hooks:
  - id: ruff
    args:
    - "--fix"
    # When updating to ruff v0.0.244 or higher, this can be enabled to improve
    # change detection by pre-commit
    #- "--exit-non-zero-on-fix"

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.5.0
  hooks:
  - id: mypy
    additional_dependencies:
    - setuptools

- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black

- repo: https://github.com/rhysd/actionlint
  rev: v1.6.25
  hooks:
  - id: actionlint-docker

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.35.0
  hooks:
  - id: markdownlint-fix

ci:
  skip:
  # pre-commit.ci doesn't have Docker available
  - actionlint-docker
