repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-ast
  - id: check-merge-conflict
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-yaml
  - id: end-of-file-fixer
  - id: name-tests-test
    args:
    - "--pytest-test-first"
  - id: no-commit-to-branch
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.7
  hooks:
  - id: ruff-check
    args:
    - "--fix"
    - "--exit-non-zero-on-fix"

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.0
  hooks:
  - id: mypy
    exclude: "conftest\\.py$"
    additional_dependencies:
    - pyproject-metadata >= 0.9.0
    - setuptools
    - types-requests

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.11.0
  hooks:
  - id: black

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.9
  hooks:
  - id: actionlint-docker

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.46.0
  hooks:
  - id: markdownlint-fix

- repo: https://github.com/twisted/towncrier
  rev: 25.8.0
  hooks:
  - id: towncrier-check
    files: $changelog\.d/
ci:
  autoupdate_schedule: monthly
  skip:
  # pre-commit.ci doesn't have Docker available
  - actionlint-docker
