name: Reusable workflow that runs all tests

on:
  workflow_call:
    inputs:
      python-version:
        type: string
        required: true
      platform:
        type: string
        required: true
      # Set this flag to test that the package works with the listed minimum
      # versions of dependencies.
      force-minimum-dependencies:
        type: boolean
        required: false
        default: false
      # Set this flag to run even the slow tests
      run-slow:
        type: boolean
        required: false
        default: true

permissions:
  contents: read

env:
  # Environment variables to support color support (jaraco/skeleton#66):
  # Request colored output from CLI tools supporting it. Different tools
  # interpret the value differently. For some, just being set is sufficient.
  # For others, it must be a non-zero integer. For yet others, being set
  # to a non-empty value is sufficient. For tox, it must be one of
  # <blank>, 0, 1, false, no, off, on, true, yes. The only enabling value
  # in common is "1".
  FORCE_COLOR: 1
  # MyPy's color enforcement (must be a non-zero number)
  MYPY_FORCE_COLOR: -42
  # Recognized by the `py` package, dependency of `pytest` (must be "1")
  PY_COLORS: 1
  # Make tox-wrapped tools see color requests
  TOX_TESTENV_PASSENV: >-
    FORCE_COLOR
    MYPY_FORCE_COLOR
    NO_COLOR
    PY_COLORS
    PYTEST_THEME
    PYTEST_THEME_MODE

  # Suppress noisy pip warnings
  PIP_DISABLE_PIP_VERSION_CHECK: 'true'
  PIP_NO_PYTHON_VERSION_WARNING: 'true'
  PIP_NO_WARN_SCRIPT_LOCATION: 'true'


jobs:
  test:
    runs-on: ${{ inputs.platform }}
    continue-on-error: ${{ inputs.python-version >= '3.13' }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}
          allow-prereleases: true
      - name: Install tox
        run: python -m pip install tox
      - name: Run script checks
        run: >
          tox -e script
      - name: Run tests
        # For simplicity, we limit forced minimum dependencies to direct
        # dependencies and build system dependencies, not extra dependencies
        # like pytest or sphinx.
        #
        # Note the -- used to separate tox options from pytest options.
        run: >
          tox -e py
          ${{
            inputs.force-minimum-dependencies
            && (
              inputs.python-version >= '3.12'
              && '--force-dep setuptools==66.1 --force-dep setuptools_scm==3.4.1 --force-dep typing-extensions==4'
              || '--force-dep setuptools==56 --force-dep setuptools_scm==3.4.1 --force-dep typing-extensions==4'
            )
            || ''
          }}
          --
          ${{ !inputs.run-slow && '-m "not slow"' || '' }}
